# [AREA_NAME] Documentation Overview

This document serves as an index for all documentation files in the [AREA_NAME] area.

Read the linked documents as required for your current task.

## Documentation Files

The following documentation files are available in this area:

### [example_file.md](./example_file.md)
- Description of what this file contains and when to use it
- Key information you can find in this file

### [another_example.md](./another_example.md)
- Purpose of this documentation file
- When you should reference this file

## Workflows

Any specific workflows related to the [AREA_NAME] area should be referenced here.

## Guidelines

Any specific guidelines related to the [AREA_NAME] area should be referenced here.

## Resources

Any external resources or references that are relevant to the [AREA_NAME] area.

---
*Note: This is a template file. Replace [AREA_NAME] with the actual name of your area and add entries for your specific documentation files.*
